
.land
{
  fill: #cccccc;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}
#json
{
  display: none;
}


h1{
  text-align: center;
}

#title{
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

#a{
  background-color: #ffffd4;
}

#b{
  background-color: #fed98e;
}
#c{
  background-color: #fe9929;
}
#d{
  background-color: #d95f0e;
}
#e{
  background-color: #993404;
}
#f{
  background-color: #cccccc;
}

body
{
  background-color: 	#6495ED;
}
