/*Name: Zelda Zeegers
Student number: 11397705*/


/* axis layout*/
.axis path,
.axis line {
  fill: none;
  stroke: #000000;
}
.x.axis path {
  fill: none;
  stroke: #000000;
}

/* lay out of all the lines*/
.line {
  fill: none;
  stroke: #006400;
  stroke-width: 1.5px;
}

/* lay out of the interactive properties*/
.overlay {
    fill: none;
  pointer-events: all;
}

/* layout of the circles and text of the values that are shown while hovering*/
.focus circle {
  fill: #006400;
  stroke: black;
}
.focus text{
  font-weight: bold;
}
